#phoneAndEmail {
    height: 20rem;
    margin-bottom: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #036b5a;
    border-radius: 50px;
}

.fa-phone, .fa-envelope-o {
    margin: auto;
    font-size: 4rem;
    color: #f5f5f5;
}

#phone, #email {
    display: flex;
    align-items: center;
}

#phone p, #email p {
    padding: 20px;
    font-size: 3rem;
}

#contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
}

#contactform input[type=submit] {
    width: 12rem;
    height: 7rem;
    background-color: #036b5a;
    color: #f5f5f5;
    border: none;
}

#contactform input, #contactform textarea {
    width: 95%;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: inherit;
    border-radius: 15px;
    border:2px solid #8d8d8d;   
}

#contactform input {
    height: 4rem;
}

#contactform textarea {
    height: 20rem;
}

#contactform input:focus, #contactform textarea:focus {
    border: 2px solid #036b5a
}

#contactform textarea {
    height: 20rem;
}

#messagesent {
    display:none;
}

@media only screen and (min-width: 1025px) and (min-device-width: 1025px) {
    #phone p, #email p {
        font-size: 2rem;
    }

    #contactform {
        font-size: 20px;
    }
    
    #contactform input[type=submit] {
        width: 10rem;
        height: 5rem;
    }

    #contactform input {
        height: 2rem;
    }

    #contactform textarea {
        height: 15rem;
    }
    
    #contactform input, #contactform textarea {
        width: 80%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1500px) and (min-device-width: 1500px) {
    #phoneAndEmail {
        height: 10rem;
    }
    
    #contactform input, #contactform textarea {
        width: 60%;
        padding: 1rem;
    }

    #contactform input[type=submit] {
        width: 8rem;
        height: 4rem;
    }

    #contactform textarea {
        height: 20rem;
    }
}