body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
}

header {
    width:100%;
    height:6rem;
    position: fixed;
    top: 0;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: #f5f5f5;
    border-bottom: solid #252525;
    box-shadow: 0 0px 10px 1px rgb(37, 37, 37);
}

#logo {
    margin-top:0.5rem;
    margin-left:0.5rem;
    width:30rem;
}

a {
    text-decoration: none;
    color: #000000;
}

#chev-down {
    padding: 2rem;
    border: none;
    background-color: #f5f5f5;
}

.fa-chevron-down {
    width: 1rem;
}

#nav-bar {
    display:none;
    position: absolute;
    top:6rem;
    right:0;
    background-color: #f5f5f5;
}

nav ul li {
    padding: 1rem;

    list-style: none;
    font-size: 1.25rem;
}

nav ul li:hover, nav ul li:focus {
    background-color: rgb(207, 207, 207);
}

main {
    margin-top: 6rem;
    scroll-behavior: smooth;
}

#picture-banner {
    width: 100%;
    height: 20rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: url("img\aircraft1.jpg") #036b5a; 
}

@media only screen and (min-width: 500px) and (min-device-width: 500px) {

}

@media only screen and (min-width: 990px) and (min-device-width: 990px) {
    #chev-down {
        display:none;
    }

    #nav-bar, #nav-bar ul {
        display:flex;
        flex-direction: row;
        position: static;
    }
}